<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Product
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-badge>0</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="{autoplay:true}">
    <ion-slide>
      <ion-img src="https://www.mcshop.com/mcshop/v1/media/Menu-Banner-s-toni.png?width=1280"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://www.mcshop.com/mcshop/v1/media/Menu-Banner-s-save-my-hips.png?width=1280"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://bodyglove.co.th/pub/media/wysiwyg/slider/2900x1200_4__1.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>