<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let item of items|async">
    <ion-list style="margin-top:10px;margin-bottom: 10px;">
      <div>ชื่อ :{{item .name}}</div>
      <div>รหัสประจำตัว :{{item .number_id}}</div>
      <div>กิจกรรม :{{item .work}}</div>
    </ion-list>
  </ion-item>

  <ion-button expand="block" color="success" routerLink="/add">เพิ่มข้อมูล</ion-button>


</ion-content>