<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      List
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list hidden>
    <ion-item>
      <ion-img src="/assets/image/user.png" style="width: 32px;"></ion-img>
      <ion-text style="margin-left: 10px;">james</ion-text>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let name of names" >

      <ion-img src="/assets/image/user.png" style="width: 32px;"></ion-img>

      <ion-text style="margin-left: 10px;">{{name}}</ion-text>
      <ion-buttons slot="end">
        <ion-button (click)="removecontact(names)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-button>
      </ion-buttons>
    </ion-item>

  </ion-list>

  <ion-item>
    <ion-input placeholder="Add Contact Name" [(ngModel)]="contactname"></ion-input>
    <ion-button (click)="addcontact()">
      <ion-icon name="add"></ion-icon>Add
    </ion-button>
  </ion-item>

</ion-content>
