<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="ion-margin">
    <ion-img src="https://cms.dmpcdn.com/travel/2017/08/03/b831d834-c87d-46d8-9b45-672dca0e8df2.jpg"></ion-img>
    <ion-text>
      <p>เกาะมุก เกาะที่ใหญ่เป็นอันดับที่ 3 ของทะเลเมืองตรัง และยังคงเงียบสงบ คงความเป็นธรรมชาติ และวิถีชีวิตของชาวเกาะ
        ทำให้กลายเป็นอีกหนึ่งเสน่ห์ของ เกาะมุก</p>
    </ion-text>
  </div>

  <ion-grid>

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        <div>ชื่อ</div>
      </ion-col>
      <ion-col>
        <div>เกาะมุก</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        <div>ที่ตั้ง</div>
      </ion-col>
      <ion-col>
        <div>จ.ตรัง ประเทศไทย</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        <div>เวลาทำการ</div>
      </ion-col>
      <ion-col>
        <div>ทุกวัน</div>
      </ion-col>
    </ion-row>


  </ion-grid>

  <div>
    <ion-button color="dark" expand="full" shape="round" routerLink="/callapi">API</ion-button>
  </div>
  <div>
    <ion-button color="dark" expand="full" shape="round" routerLink="/product">Product</ion-button>
  </div>
  <div>
    <ion-button color="primary" expand="full" shape="round" routerLink="/show-list">List Page</ion-button>
  </div>
  <div>
    <ion-button color="danger" expand="full" shape="round" (click)="gotoAbout()">About</ion-button>
  </div>

</ion-content>
